deployment:
  replicas: 1

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    http3:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.kennyandries.com`)
    entryPoints:
      - websecure
    middlewares:
      - name: oidc

providers:
  kubernetesGateway:
    enabled: true
  kubernetesCRD:
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: true
    ingressEndpoint:
      ip: "127.0.0.1"

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

service:
  externalIPs: ["192.168.1.3"]

tlsStore:
  default:
    defaultCertificate:
      secretName: traefik-cert

experimental.plugins.enabled: true

experimental:
  plugins:
    traefik-oidc-auth:
      moduleName: "github.com/sevensolutions/traefik-oidc-auth"
      version: "v0.16.0"

metrics:
  prometheus: null
  otlp:
    enabled: false

accessLog:
  enabled: false

tracing:
  otlp:
    enabled: false

additionalArguments:
  - "--providers.kubernetesingress.ingressendpoint.ip=127.0.0.1"
