ingress:
  enabled: true
  hosts:
    - host: actualbudget.kennyandries.com
      paths:
        - path: /
          pathType: ImplementationSpecific

persistence:
  enabled: true
  existingClaim: actualbudget-volume
