apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: traefik
  sources:
    - repoURL: https://github.com/rathix/k8s-prd.git
      targetRevision: HEAD
      path: traefik/manifests
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: v37.4.0
      helm:
        releaseName: traefik
        valuesObject:
          deployment:
            replicas: 1

          ports:
            web:
              redirections:
                entryPoint:
                  to: websecure
                  scheme: https
                  permanent: true
            websecure:
              http3:
                enabled: true

          ingressRoute:
            dashboard:
              enabled: true
              matchRule: Host(`traefik.kennyandries.com`)
              entryPoints:
                - websecure
              middlewares:
                - name: oidc

          providers:
            kubernetesGateway:
              enabled: true
            kubernetesCRD:
              allowCrossNamespace: true
              allowExternalNameServices: true
            kubernetesIngress:
              enabled: true
              allowExternalNameServices: true
              publishedService:
                enabled: true
              ingressEndpoint:
                ip: "127.0.0.1"

          gateway:
            listeners:
              web:
                namespacePolicy:
                  from: All

          service:
            externalIPs: ["192.168.1.3"]

          tlsStore:
            default:
              defaultCertificate:
                secretName: traefik-cert

          experimental.plugins.enabled: true

          experimental:
            plugins:
              traefik-oidc-auth:
                moduleName: "github.com/sevensolutions/traefik-oidc-auth"
                version: "v0.16.0"

          metrics:
            prometheus: null
            otlp:
              enabled: false

          accessLog:
            enabled: false

          tracing:
            otlp:
              enabled: false

          additionalArguments:
            - "--providers.kubernetesingress.ingressendpoint.ip=127.0.0.1"
