apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oidc
  namespace: traefik
spec:
  plugin:
    traefik-oidc-auth:
      Secret: "urn:k8s:secret:oidc-secret:pluginSecret"
      Provider:
        Url: "https://auth.kennyandries.com/"
        Scopes: ["openid", "profile", "email"]
        ClientId: "urn:k8s:secret:oidc-secret:providerClientId"
        ClientSecret: "urn:k8s:secret:oidc-secret:providerClientSecret"
